
<!DOCTYPE HTML>
<html>
	<head>
		<title>tRecSys</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script src="js/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
   		 <!-- webfonts -->
   		 <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
   		  <!-- webfonts -->
	</head>
	<body>
		<!-- container -->
			<!-- header -->
			<div class="header">
				<div class="container">
					<!-- logo -->
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" title="medicalpluse" /></a>
					</div>
					<!-- logo -->
					<!-- top-nav -->
					
					<!-- I have Commented here 

					<div class="top-nav">
						<span class="menu"> </span>
						<ul>
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>

					-->
					<!-- top-nav -->
					<!-- script-for-nav -->
					<script>
						$(document).ready(function(){
							$("span.menu").click(function(){
								$(".top-nav ul").slideToggle(300);
							});
						});
					</script>
					<!-- script-for-nav -->
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- /header -->
		</div>
		<!-- /container -->
		<!-- banner -->
		<div class="benner">
				<!-- slider -->
				<!--- img-slider --->
				<div class="img-slider">
						<!----start-slider-script---->
					<script src="js/responsiveslides.min.js"></script>
					 <script>
					    // You can also use "$(window).load(function() {"
					    $(function () {
					      // Slideshow 4
					      $("#slider4").responsiveSlides({
					        auto: true,
					        pager: true,
					        nav: true,
					        speed: 500,
					        namespace: "callbacks",
					        before: function () {
					          $('.events').append("<li>before event fired.</li>");
					        },
					        after: function () {
					          $('.events').append("<li>after event fired.</li>");
					        }
					      });
					
					    });
					  </script>
					<!----//End-slider-script---->
					<!-- Slideshow 4 -->
					    <div  id="top" class="callbacks_container">
					      <ul class="rslides" id="slider4">
					        <li>
					          <img class="img-responsive" src="images/slide.jpg" alt="">
					          <div class="slider-caption">
					          	<h1>RecSys</h1>
					         	 <p>A Trust Enhanced Recommender System for MediCare Applications </p>
					         	 <a class="caption-btn" href="#">ReadMore</a>
					          </div>
					        </li>
					        <li>
					          <img src="images/slide2.jpg" alt="">
					           <div class="slider-caption">
					          	<h1>RecSys</h1>
					          	<p>A Trust Enhanced Recommender Systems for Medicare Applications </p>
					            <a class="caption-btn" href="#">ReadMore</a>
					          </div>
					        </li>
					        <li>
					          <img src="images/slide3.jpg" alt="">
					           <div class="slider-caption">
					           	<h1>RecSys</h1>
					           <p>A Trust Enhanced Recommender Systems for Medicare Applications  </p>
					           <a class="caption-btn" href="#">ReadMore</a>
					          </div>
					        </li>
					      </ul>
					    </div>
					    <div class="clearfix"> </div>
					</div>
						<!-- slider -->
					</div>
		<!-- /banner -->
		<!-- top-grids -->
		<div class="top-grids text-center">
			<div class="container">
				<!--<div class="col-md-3">
					<div class="top-grid">
						<span class="t-icon1"> </span>
						<h3>Lorem</h3>
						 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. lectus in quam elementum aliquet.</p>
					</div>
				</div>-->
				<div class="col-md-4">
					<a class="btn" href="http://localhost/bRec.php">
					<div class="top-grid">
						<span class="t-icon2"> </span>
						<h3>Blood Donor Recommendation</h3>
						<p>Reommends Trust Worthy Blood Donor</p>
					</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="btn" href="hRec.php">
					<div class="top-grid">
						<span class="t-icon3"> </span>
						<h3>Health Care Recommendation</h3>
						 <p>Recommends a Perfect Healthcare</p>
					</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="btn" href="aRec.php">
					<div class="top-grid">
						<span class="t-icon4"> </span>
						<h3>Ambulance Recommendation</h3>
						<p>Recommends Route to a Nearby Hospital</p>
					</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			
		</div>
		<!-- top-grids -->
		<!-- mid-grids -->
		<div class="mid-grids">
			<div class="col-md-6 mid-grid-left">
				
			</div>
			<div class="col-md-6 mid-grid-right">
				<h2>Our Objective</h2>
				<ul>
				<li>To develop an efficient recommender system for MediCare thereby apply the benefits of recommender systems in medical field.</li>
				<li>To recommend eligible and trust-worthy blood donor and best suitable MediCare facility for the user with higher degree of accuracy.</li>
				<li>To create a system that gives cost effective recommendations based on the affordability and feedback of the user.</li>
				<li>To predict the future needs by learning from user feedbacks - the degree of accuracy increases when the system learns. </li>
				<ul>
				<a class="about-btn" href="about.html">ReadMore</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- mid-grids -->
		<!-- bottom-grids -->
		
		<!-- I have commented this
		<div class="bottom-grids">
				<h2>Latest-News</h2>
				<div class="bottom-grid bottom-grid1">
					<div class="container">
					<div class="col-md-3 bottom-grid-left">
						<a href="#"><img src="images/pic1.jpg" title="name" /></a>
					</div>
					<div class="col-md-9 bottom-grid-right">
						<p>ac urna posuere gravida a semper felis. Morbi congue elit eu scelerisque sagittis. Vestibulum blandit quam vitae pretium mollis. Nunc bibendum est a nibh finibus pellentesque.</p>
						<a class="news-btn" href="#">ReadMore</a>
					</div>
					<div class="clearfix"> </div>
					</div>
				</div>
				<div class="bottom-grid bottom-grid2">
					<div class="container">
					<div class="col-md-3 bottom-grid-left">
						<a href="#"><img src="images/pic2.jpg" title="name" /></a>
					</div>
					<div class="col-md-9 bottom-grid-right">
						<p>ac urna posuere gravida a semper felis. Morbi congue elit eu scelerisque sagittis. Vestibulum blandit quam vitae pretium mollis. Nunc bibendum est a nibh finibus pellentesque.</p>
						<a class="news-btn" href="#">ReadMore</a>
					</div>
					<div class="clearfix"> </div>
					</div>
				</div>
				<div class="bottom-grid bottom-grid3">
					<div class="container">
					<div class="col-md-3 bottom-grid-left">
						<a href="#"><img src="images/pic3.jpg" title="name" /></a>
					</div>
					<div class="col-md-9 bottom-grid-right">
						<p>ac urna posuere gravida a semper felis. Morbi congue elit eu scelerisque sagittis. Vestibulum blandit quam vitae pretium mollis. Nunc bibendum est a nibh finibus pellentesque.</p>
						<a class="news-btn" href="#">ReadMore</a>
					</div>
					<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
				<a class="load-news" href="#">LoadMore</a>
			</div>
		</div>
		-->
		<!-- bottom-grids -->
		<!-- team -->
		
		<!-- I have commneted this
		<div class="team">
						<div class="container">
							<div class="team-head text-center">
								<h3>Our team</h3>
							</div>
							
							<div class="team-grids">
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="images/d1.jpg" title="name">
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="images/d2.jpg" title="name">
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="team-grid">
										<div class="team-people">
											<div class="team-people-pic">
												<img src="images/d3.jpg" title="name">
											</div>
											<div class="team-people-info">
												<h3>Established</h3>
												<p>reader will be distracted by the readable</p>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
		-->
		<!-- team -->
		<!-- team-grids-caption -->

		<!-- I have commented this
		<div class="team-grids-caption">
								<div class="container">
									<div class="team-grids-caption-left">
										<h4>He point of using Lorem Ipsum is that</h4>
										<p>as opposed to using Many desktop publishing packages and web page editors now use </p>
									</div>
									<div class="team-grids-caption-right">
										<a class="team-btn" href="contact.html">Contact</a>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
		-->
		<!-- team-grids-caption -->
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<!--p class="copy-right">Design by <a href="http://w3layouts.com/">W3layouts</a></p-->
			</div>
		</div>
		<!-- /footer -->
	</body>
</html>

