<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Blood Donor</title>
  <link rel="stylesheet" href="css/style1.css" media="screen" type="text/css" />

</head>

<body>
  <form action="process.php" method="post">
  <div class="login-wrap">
    <h2>Login</h2>
    <div class="form">
      <input type="text" placeholder="Username" name="un" />
      <input type="password" placeholder="Password" name="pw" />
      <!--  add all the details needed after we plan what and all fields we need  -->
      <button type="submit" id="nsignin">Sign in</button> 
      <br>
      <button type="submit" id="asignin">Sign in as Admin</button>
      <a href=""> <p> Don't have an account? Register </p></a>
    </div>
  </div>
  </form>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="js/index.js"></script>

</body>

</html>